* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: #dcdacc;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
}

.select {
  color: blue;
}

h1,
h3,
p {
  text-align: center;
}

h2 {
  text-align: center;
  background: linear-gradient(to right, #26042f, #5f1d40, #1e0994);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}


form {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 16px;

}

input:focus {
  outline: none;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
  background-color: #e8e1e1;
}

.btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;

}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 200px;
  background-color: #e8e1e1;
  margin: 12px;
  border-radius: 5px;
  padding-bottom: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
}

/* img.card-image {
  border-radius: 5px;
}  */

.card-body {
  padding: 10px;
  text-align: center;
}


a {
  background-color: #92800d;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.desc {
  background-color: #92800d;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 4rem;
  }
}

/* Categories */

.category-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-name {
  font-weight: bold;
  background: linear-gradient(to right, #0f0610, #5f1d40, #052e3b);
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 10px;
}

.category-button {
  padding: 8px 16px;
  background: linear-gradient(to right, #76a9bf, #77787c, #1d343a);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #4ce69e;
    transform: scale(1.05);
  }

  &.active {
    /* background-color: #2c3e50; */
  }
}

@media only screen and (max-width: 768px) {
  .category-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-button {
    margin-bottom: 10px;
  }
}


/* Footer.css */

.footer {
  text-align: center;
  padding: 10px;
  background: linear-gradient(to right, #1d343a, #77787c, #9ed5ed, #1d343a);
  color: white;
  border-radius: 10px;
}